/* UTILITY */

 :root {
  --blue: #215abc;
  --red: #7e3a30;
  --black: #000000;
  --white: #FFF;
  --beige: #f2efdc;
  
}

* {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

.hidden {
  display: none;
}

/* BACKGROUND */

body {
  background:url("assets/background-5.png") no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  justify-content: center;
  /* min-height: 40rem; */
  /* flex-grow: 1;
  flex: 1; */
  height: 100vh;
  /* width: 100%; */ */
}

/* HEADER */

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: var(--black); */
  font-size: 100px;
  margin-bottom: 40px;
  margin-top: 0;
  color: var(--white);
  /* border-top: solid .4rem var(--white); */
  /* border-bottom: solid .4rem var(--white); */
  padding-right: 2rem;
  padding-left: 2rem;
  /* width: 94%; */
  /* font-family: 'Papryus', fantasy; */
  font-family: 'Copperplate', fantasy;
}

/* IMAGES */

.rps-image {
  width: 6rem;
  background: var(--white);
  border-radius: 1rem;
  padding: .4rem;
  margin: 1rem;
  border: solid .4rem var(--black);
}

.mtg-image {
  width: 8rem;
  border: solid 5px white;
  margin: 0.5rem;
  border-radius: 8px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* height: 100%; */
}

.right-section,
.left-section {
  display: flex;
  flex-direction: column;
  /* background: var(--red); */
  background:url("assets/background-4.jpeg");
  color: var(--white);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 10%;
  min-width: 9rem;
}

.right-section {
  border-left: solid .4rem var(--white);
}
.left-section {
  border-right: solid .4rem var(--white);
}

.rps-button,
.mtg-button,
.change-format-btn {
  width: 25rem;
  padding: 1rem;
  margin: 1rem;
  border: solid .4rem var(--white);
  border-radius: 1rem;
  background: var(--black);
  color: var(--white);
  /* font-family: 'Times', serif; */
  font-family: 'American Typewriter', serif;
  font-size: 20px;
}

/* .rps-button {
  height: 15rem;
  margin-top: 1rem;
}

.mtg-button {
  height: 15rem;
} */ 

.rps-button:hover,
.mtg-button:hover,
.change-format-btn:hover,
.rps-image:hover,
.mtg-image:hover {
  transform: scale(1.25);
}

h3 {
  font-size: 20px;
  font-family: 'Copperplate', fantasy;
}

.score {
  font-size: 100px;
}

h2 {
  font-size: 60px;
  color: var(--beige);
  padding-bottom: 1rem;
  font-family: 'Copperplate', fantasy;
}

.button-containers,  {
  display: flex;
  flex-direction: row;
}